.b1{
    border: 2px solid red;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-width: 2px;
    width: 300px;
    height: 100px;
    margin-top: 150px;
    margin-right: 200px;
    margin-left:600px;
    margin-bottom: 200px;


  }
  .btn{
    position:relative;
    top: 19px;
    left: 120px;
    right: -120px;
    
    
  }